#formHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#formBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

input[type=text] {
    height: 20px;
    width: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
#issueDetails{
    height: 200px;
}